.fl-saved-draft{
	cursor:pointer;
	display: inline-block;
}
#fl-saved-draft-modal {
	padding: 20px;
}
.fl-saved-draft-modal .ui-dialog-title{
	font-size: 22px;
	margin-block: 8px;
	line-height:1;
}
.fl-saved-draft-modal h2{
	font-size: 18px;
}
.fl-saved-draft-modal .ui-dialog-titlebar{
	height:unset;
}

#fl-saved-draft-modal-content .schedule-draft-section{
	margin-top: 20px;
}

#fl-saved-draft-modal-content .server-time {
	margin-bottom: 20px;
}

#fl-saved-draft-modal-content .date input[type="datetime-local"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

#fl-saved-draft-modal-content .bb-saved-draft-btn,
#fl-saved-draft-modal-content .bb-saved-draft-btn:focus{
	--_accent: #0073aa;
	background-color: rgb(239, 239, 239);
	color: var(--_accent);
	padding: 5px 15px;
	border: none;
	cursor: pointer;
	border: 1px solid var(--_accent);
	transition: all .2s ease-in-out;
	text-decoration:none;
	outline-offset:3px;
	outline: 1px solid transparent;
	font-size: 14px;
}
#fl-saved-draft-modal-content .bb-saved-draft-btn:is(:hover, :focus-visible){
	background-color: var(--_accent);
	color: white;
	border: 1px solid var(--_accent);
}

#fl-saved-draft-modal-content .bb-saved-draft-btn:focus{
	box-shadow:none !important;
}
#fl-saved-draft-modal-content .bb-saved-draft-btn:focus-visible{
	outline-color: var(--_accent);
}

#fl-saved-draft-modal-content .date input[type="submit"]:is(:hover, :focus-visible){
	background: white;
	color: #0073aa;
}
#fl-saved-draft-modal-content p{
	margin-top:0;
	margin-bottom: 1em;
}

.ui-tooltip {
	background: #333;
	color: #fff;
	border-radius: 4px;
	padding: 10px;
	font-size: 12px;
	z-index: 9999; /* High z-index to ensure it appears on top */
	width: fit-content;
}

.has-saved-draft .fl-builder span {
	color: #f1c40f !important; /* Change the color to yellow */
}

.draft-alt-btns{
	margin-top: 20px;
	display: flex;
	gap: 10px;
}

#fl-saved-draft-modal-content .draft-buttons{
	display:flex;
	justify-content:flex-start;
	align-items: center;
	gap: 10px;
	margin-top: 1em;

}
#fl-saved-draft-modal-content #delete-saved-draft{
	--_accent: #d63638;
}

#fl-saved-draft-modal-content #edit-saved-draft,
#fl-saved-draft-modal-content #edit-saved-draft:focus{
	color: white !important;
	background-color: var(--_accent) !important;
}

#fl-saved-draft-modal-content #edit-saved-draft:is(:hover, :focus-visible){
	color: var(--_accent) !important;
	background-color: rgb(239, 239, 239) !important;
	border-color: var(--_accent) !important;
}

#fl-saved-draft-modal-content #delete-saved-draft:is(:hover, :focus-visible){
	background-color: var(--_accent);
	color: white;
	border: 1px solid var(--_accent);
}