#bb-draft-modal{
	width: 100% !important;
	padding-block: 1em;
}
.bb-draft-modal .ui-widget-header {
    border: none;
    border-bottom: 1px solid var(--fl-builder-outline-color);
    background: none;
    color: inherit;
    font-weight: 500;
	font-size: 16px;
	border-radius:0;
}
.bb-draft-modal .ui-dialog-titlebar{
	height: unset;
	padding: 0em 1em !important;
}

.bb-draft-modal{
    border: 1px solid #ccc;
	border-radius: 10px !important;
}

.bb-draft-modal .ui-dialog-content {
    padding: 20px;
    font-size: 16px;
}
.bb-draft-modal p{
	font-size: 16px;
}
.bb-draft-modal p:last-child{
	margin:0;
}

.bb-draft-modal button {
    background-color: var(--fl-builder-accent-color);
    color: #fff !important;
    text-decoration: none;
    border: 2px solid var(--fl-builder-accent-color);
    font-family: var(--fl-builder-font-family) !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
	padding: 10px 20px;
    text-align: center;
    transition-property: all;
    transition-duration: .2s;
}

.bb-draft-modal .ui-dialog-buttonpane button:is(:hover, :focus-visible) {
    background-color: var(--fl-builder-selected-color) !important;
	border: 2px solid var(--fl-builder-selected-color) !important;
}
.ui-dialog .ui-dialog-buttonpane button{
	margin-inline: 0 !important;
}
.bb-draft-modal.ui-dialog .ui-dialog-buttonpane{
	margin: 0;
}
.bb-draft-modal.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
	float: left !important;
	padding: 0 .5em;
	display:flex;
	gap: 10px;
}
button.delete-draft-btn{
	background: transparent !important;
	border: 2px solid #d05127 !important;
	color: #222 !important;
}
.bb-draft-modal .ui-dialog-buttonpane button.delete-draft-btn:is(:hover, :focus-visible) {
	background: #d05127 !important;
	border: 2px solid #d05127 !important;
	color: white !important;
}

.ui-widget-overlay{
	background: black !important;
	opacity: .35 !important;
}
.bb-draft-modal.ui-dialog .ui-widget-content{
    border-color: var(--fl-builder-outline-color) !important;
}


/* Dark mode modal styles */
body.fl-builder-ui-skin--dark .bb-draft-modal.ui-widget-content,
body.fl-builder-ui-skin--dark .bb-draft-modal .ui-widget-content{
    background: #23282d !important;
    color: #a7b1bb !important;
	border-color: var(--fl-builder-outline-color)!important;
}
body.fl-builder-ui-skin--dark button.delete-draft-btn{
	color: white !important;
}