#fl-schedule-changes {
    padding: 20px;
}

#fl-schedule-changes .server-time {
    margin-bottom: 20px;
}

#fl-schedule-changes .date input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#fl-schedule-changes .date input[type="submit"] {
    background-color: #0073aa;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
	border: 1px solid #0073aa;
	transition: all .2s ease-in-out;
}
#fl-schedule-changes .date input[type="submit"]:is(:hover, :focus-visible){
	background: white;
	color: #0073aa;
}

.ui-tooltip {
    background: #333;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
    z-index: 9999; /* High z-index to ensure it appears on top */
	width: fit-content;
}

.has-unpublished-changes .fl-builder span {
    color: #f1c40f !important; /* Change the color to yellow */
}

.draft-alt-btns{
	margin-top: 20px;
	display: flex;
	gap: 10px;
}
#delete-unpublished-draft, #remove-scheduled-publishing {
    border: 1px solid currentColor;
    padding: 5px 15px;
	color: #0073aa;
	cursor: pointer;
	transition: all .2s ease-in-out;
}
#delete-unpublished-draft{
	color: #d63638;
}
#remove-scheduled-publishing:is(:hover, :focus-visible){
	background-color: #0073aa;
	color: white;
	border: 1px solid #0073aa;
}
#delete-unpublished-draft:is(:hover, :focus-visible){
	background-color: #d63638;
	color: white;
	border: 1px solid #d63638;
}

